#form-bike-container {
  background-color: #ffae19;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

#content-bike {
  background-color: #ffedcc ;
  height: 100vh ;
}

#booking-bike {
  background-color: #fff6e5;
  height: 100vh;
}

#photo-bike {
margin-bottom : 50px;
}

.flexbox {
  display: flex;
}

.return {
  margin: 30px;
}

.colored {
  background-color: #ffd27f;
}
