#form-bike-container {
  background-color: #ffae19;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
}

#content-bike {
  border-style: solid;
  border-width: 1px;
  border-color: #E86100;
  height: 100vh ;
  padding-top: 40px;
  padding-left : 70px;
}

#booking-bike {
  border-style: solid;
  border-width: 1px;
  border-color: #E86100;
  height: 100vh;
  padding-top: 20px;
}

#photo-bike {
margin-bottom : 50px;
}

.flexbox {
  display: flex;
}

.return {
  margin: 30px;
}
.drop-shadow {
  box-shadow: 2px 2px 2px #E86100;
}

.colored {
  background-color: #fafafa
}
