/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.welcome{
  padding-bottom: 70px;
}

#profile{
  height:100vh;
  background-color: #F7F7FA;
  color: grey-lighter;
  font-family: sans-serif;
  font-size: 20px;
  padding-top: 71px;
  padding-right: 0px;
  padding-left: 0px;
}

#profile > ul{
  color: #F3BD97;
  font-size: 15px;
}
#content {
  padding-right: 0px;
  padding-left: 0px;
}
.wrapper {
  background-color: #F5F5F5;
}
#main-avatar{
  margin-bottom: 30px;
}
.product {
  border-bottom: dotted #F5F5F5;
}
.pencil{
  color : $orange;
  font-size: 24px;
}
