<div id="footer">

      <div class="footer-links text-center">
      <ul class="list-untysled list-inline">
        <li><h5>Home</h5></li>
        <li><h5>Contact</h5></li>
        <li><h5>FAQ</h5></li>
        <li><h5>Blog</h5></li>
      </ul>
      </div>

<!--       <p class="footer-company-name text-center">Airbike &copy; 2015</p>
 -->
</div>



