<div class="banner">
  <div class="banner-content">
    <h1>Welcome to Airbike</h1>

    <form action="/bikes" class="form-inline">
      <input type="text" class="form-control" placeholder="Type a location" name="location">
      <input type="text" class="form-control datepick" placeholder="Select start date" name="start_date">
      <input type="text" class="form-control datepick" placeholder="Select return date" name="end_date">
      <input type="submit" value="Look for a bike" class="btn btn-warning">
    </form>

  </div>
</div>
