<div class="banner">
  <div class="banner-content">
    <h1>Welcome to Airbike</h1>
    <form action="bikes/search" method="post" class="form-inline">
      <input type="text" class="form-control" name="location" placeholder="Enter a location">
      <input type="date" class="form-control" name="location" placeholder="Start rental date">
      <input type="date" class="form-control" name="location" placeholder="Return date">
      <input type="submit" value="Look for a bike" class="btn btn-warning">
    </form>
  </div>
</div>
