.card {
  padding: 10px;
  height: 300px;
}
.card-color {
  background-color: #EBEBEC;
  padding-top: 1px;
  padding-bottom: 1px;
  border: #F6F6F6 1px solid;
  border-radius: 5px;
  margin: 5px;
}
.card-photo {
  display: block;
  width: auto;
  max-height: 100%;
  text-align: center;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-footer-avatar {
  flex: 0 0 20%;
}
.card-footer-text {
  flex: 1 1 auto;
}
.card-footer-text > h5 {
  color: #3D3D3A;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-footer-text p {
  color: #3D3D3A;
  font-weight: lighter;
  overflow: hidden;
  text-overflow: ellipsis;
}
.design-description {
  background-color: #3B5998;
  padding-top: 5px;
  padding-left: 10px;
  opacity: 0.4;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  p {
    color: white;
    font-weight: bold;
    font-size: 15px;
  }
}
#design-date {
  padding-left: 15px;
}
